{{ define "main" }}
  {{ with .Content }}
    <div class="index-content">
      {{ . }}
    </div>
  {{ end }}
  <div class="posts">
    {{ range .Paginator.Pages }}
      <div class="post on-list">
        <h1 class="post-title">
          <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        </h1>
        <div class="post-meta">
          <span class="post-date">
            {{ if not .Params.hidedate}} {{ .Date.Format "2006" }} {{ end }}
          </span>
          {{ with .Params.Author }}
            <span class="post-author">:: {{ . }}</span>
          {{ end }}
        </div>

        {{ if .Params.tags }}
          <span class="post-tags">
            {{ range .Params.tags }}
            #<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
              {{- . -}}
            </a>&nbsp;
            {{ end }}
          </span>
        {{ end }}

        {{ partial "mcover.html" . }}

        <ul>
        {{ if .Params.spotify }}
          <li>
            <i class="fa-brands fa-spotify fa-2xl"></i>
            <a href="{{ .Params.spotify }}">Spotify</a>
          </li>
        {{ end }}

        {{ if .Params.applemusic }}
          <li>
            <i class="fa-brands fa-itunes-note fa-2xl"></i>
            <a href="{{ .Params.applemusic }}">Apple Music</a>
          </li>
        {{ end }}

        {{ if .Params.itunes }}
          <li>
            <i class="fa-brands fa-itunes fa-2xl"></i>
            <a href="{{ .Params.itunes }}">iTunes</a>
          </li>
        {{ end }}

        {{ if .Params.deezer }}
          <li>
            <i class="fa-brands fa-deezer fa-2xl"></i>
            <a href="{{ .Params.deezer }}">Deezer</a>
          </li>
        {{ end }}
        </ul>

      
        <div class="post-content">
          {{ if .Params.showFullContent }}
            {{ .Content }}
          {{ else if .Description }}
            {{ .Description | markdownify }}
          {{ else }}
            {{ .Summary | markdownify }}
          {{ end }}
        </div>

      </div>
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
{{ end }}
